body
{
  font-family: Arial; 
  font-size: 10pt;
  }

.pageHeader
{
  font-family: Arial; 
  font-size: 16pt;
  font-weight: bold;
}

.pageFooter
{
  font-size: 8pt;
}

.selectAllOrNonePlaceholder
{
  display: block;
  width: 24px;
  height: 24px;
}

img 
{
  vertical-align: text-bottom;
}

#wrapper
{
  width:330px; 
  margin: 0 auto; 
}